.projects-main {
  width: 100%;
}

.projects-heading-div {
  display: flex;
}

.projects-heading-div > * {
  flex: 1;
}

.projects-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-heading-text-div {
  text-align: center;
}

.projects-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.projects-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.projects-header-detail-text{
  font-size: 30px;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
}

/*First projects section*/
.blog-heading-div {
  display: flex;
  margin-top: 200px;
}

.address-heading-div {
  display: flex;
  margin-top: 200px;
}

.blog-heading-div > * {
  flex: 1;
}


.address-heading-div > * {
  flex: 1;
}

.contact-heading-img-div {
  align-items: self-start;
  justify-content: self-start;
  margin-left: 5%;
  margin-right: 5%;
}

.blog-heading-img-div {
  align-items: self-start;
  justify-content: self-start;
  margin-left: 5%;
  margin-right: 5%;
}

.contact-heading-text-div {
  text-align: justify;
}

.blog-heading-text-div {
  text-align: justify;
}

.address-heading-text-div {
  text-align: justify;
}

.contact-heading-img-div > * {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.contact-heading-text {
  font-size: 40px;
  font-family: "Google Sans Medium";
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.1;
}

.blog-heading-text {
  font-size: 40px;
  font-family: "Google Sans Medium";
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.1;
}

.address-heading-text {
  font-size: 40px;
  font-family: "Google Sans Medium";
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.1;
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.blog-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blogsite-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 1380px) {
  
  .projects-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .projects-heading-sub-text {
    font-size: 25px;
  }
  .blog-heading-div {
    flex-direction: column;
    margin-top: 50px;
  }
  .blog-heading-img-div {
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .blog-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }
  .blog-header-detail-text {
    font-size: 20px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 20px;
  }
  .address-heading-img-div {
    margin-top: 10px;
  }
  .address-heading-text {
    font-size: 30px;
    margin-top: 50px;
  }
  .contact-header-detail-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .projects-heading-text-div {
    margin-left: 5%;
    margin-right: 5%;
  }
  .publications-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .projects-heading-sub-text {
    font-size: 20px;
  }

  .projects-heading-div {
    flex-direction: column;
  }

  .projects-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: normal;
  }

  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }


  .blog-heading-div {
    flex-direction: column;
    margin-top: 20px;
  }
  .blog-heading-img-div {
    margin-top: 10px;
  }
  .blog-heading-text {
    font-size: 25px;
    margin-top: 20px;
  }
  .blog-header-detail-text {
    font-size: 16px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .address-heading-img-div {
    margin-top: 10px;
  }
  .address-heading-text {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .contact-header-detail-text {
    font-size: 16px;
  }
}
